<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <script type="importmap"></script>
    <!-- Toastify CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <link rel="stylesheet" href="~/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/StoreManagement.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm bg-primary box-shadow mb-3" data-bs-theme="dark">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">💎 Store</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between" id="navbarColor01">
                    <ul class="navbar-nav flex-grow-1 me-auto">
                        <!--Catalog Dropdown-->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-light-emphasis" data-bs-toggle="dropdown" href="#"
                                role="button" aria-haspopup="true" aria-expanded="false">Catalog</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item text-light-emphasis" asp-area="" asp-controller="Products"
                                    asp-action="Index">Products</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item text-light-emphasis" asp-area="" asp-controller="Categories"
                                    asp-action="Index">Categories</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item text-light-emphasis" asp-area="" asp-controller="Brands"
                                    asp-action="Index">Brands</a>

                            </div>
                        </li>
                        <!-- Sales Dropdown -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-light-emphasis" data-bs-toggle="dropdown" href="#"
                                role="button" aria-haspopup="true" aria-expanded="false">Sales</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item text-light-emphasis" asp-area="Sales" asp-controller="Customers"
                                    asp-action="Index">Customers</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item text-light-emphasis" asp-area="Sales" asp-controller="Orders"
                                    asp-action="Index">Orders</a>
                            </div>
                        </li>
                        <!-- Inventory Dropdown -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-light-emphasis" data-bs-toggle="dropdown" href="#"
                                role="button" aria-haspopup="true" aria-expanded="false">Inventory</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item text-light-emphasis" asp-area="Inventory"
                                    asp-controller="Suppliers" asp-action="Index">Suppliers</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item text-light-emphasis" asp-area="Inventory"
                                    asp-controller="StockTransactions" asp-action="Index">Stock Transactions</a>
                            </div>
                        </li>
                        <!-- Users & Security Dropdown -->
                        @if (User.IsInRole("Admin") || User.IsInRole("SuperAdmin"))
                        {
                            <li class="nav-item"> <a class="nav-link text-light-emphasis" asp-controller="Users"
                                    asp-area="Users" asp-action="Index">Users</a></li>
                        }
                    </ul>
                </div>

            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2026 - StoreManagement - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <!-- Toastify JS -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
</body>

</html>